---
import BaseLayout from '../layouts/BaseLayout.astro';

const title = 'Downloads';
const description = 'Download C\'YaPass Apps';
const permalink = `${Astro.site.href}downloads`;

const downloads = [
  {
    name: "C'YaPass Linux AppImage",
    version: "v1.5.0",
    file: "/downloads/CYaPass-1.5.0.AppImage",
    size: "380.3 MiB"
    },
  {
    name: "C'YaPass DMG for macOS (M-series chips)",
    version: "v1.5.1",
    file: "/downloads/CYaPass-1.5.1-arm64.dmg",
    size: "118.2 MiB"
  }
];

---

<BaseLayout title={title} description={description} permalink={permalink} current="downloads">
  <div class="container">
    <h1>Downloads</h1>
    <h2>Cross-Platform - Built In ElectronJS</h2>
    <p>
    
    <ul>
       {downloads.map(d => (
        <li>
          <strong>{d.name}</strong> ({d.version}) — {d.size}
          <br />
          <a href={d.file} download>Download</a>
        </li>
      ))}

    </ul>
    </p>
</BaseLayout>

<style>
  .about-image {
    float: right;
    margin: -3em -7em 2em 2em;
    max-width: 300px;
  }

  .about-image img {
    border-radius: 8px;
    margin-bottom: 1.5em;
  }

  @media (max-width: 1020px) {
    .about-image {
      float: none;
      margin: 0 auto 2em;
    }
  }
</style>
